<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nereo.multi_image_selector">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        />
        <activity
            android:name="me.nereo.multi_image_selector.PhotoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|"
            android:screenOrientation="portrait" />
    </application>

</manifest>
